<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Serviços</h2>
            <h3 class="section-subheading text-muted">Atendemos com rapidez e muito carinho!</h3>
        </div>
        <div class="row text-center ">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a class="nav-link" asp-area="" asp-controller="Pedido" asp-action="Index">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-list-ul fa-stack-1x fa-inverse"></i>
                    </a>
                 </span>
                 <h4 class="my-3">Pedidos</h4>
                 <p class="text-muted">Veja a Lista de Pedidos que ainda não foram liberados!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a class="nav-link" asp-area="" asp-controller="Cozinha" asp-action="Index">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-drumstick-bite fa-stack-1x fa-inverse"></i>
                    </a>
                 </span>
                 <h4 class="my-3">Cozinha</h4>
                 <p class="text-muted">Veja os Prazos que os Pedidos serão entregues segundo a nossa Cozinha!</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a class="nav-link" asp-area="" asp-controller="Copa" asp-action="Index">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-wine-bottle fa-stack-1x fa-inverse"></i>
                    </a>
                 </span>
                 <h4 class="my-3">Copa</h4>
                 <p class="text-muted">Veja a Lista de Bebidas que não foram liberados ainda!</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="team-member">
                <h3 class="section-subheading text-muted">Sistema de garçons feito por:</h3>
                <h4>Lucas Duarte</h4>
               <div>  <br>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/l-duarte/"><i class="fab fa-linkedin-in"></i></a>
             </div>
         </div>
         </div>
         <div class="row">
             <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Feito para o controle do restaurante da Rumo Soluções</p></div>
          </div>
     </div>
</section>

